<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBookingService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/Arvato.TestProject.UsrMgmt.Services/BookingService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBookingService"
                contract="ServiceReference1.IBookingService" name="WSHttpBinding_IBookingService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>