<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="usrMgmtConnString" connectionString="Data Source=.;Initial Catalog=UserManagement;Integrated Security=True" />
    <add name="UserManagementConnectionString" connectionString="Data Source=.;Initial Catalog=UserManagement;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Arvato.TestProject.UsrMgmt.Services.BookingService">
        <endpoint address="" binding="wsHttpBinding" contract="Arvato.TestProject.UsrMgmt.Services.Contracts.IBookingService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Arvato.TestProject.UsrMgmt.Services/BookingService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Arvato.TestProject.UsrMgmt.Services.UserService">
        <endpoint address="" binding="wsHttpBinding" contract="Arvato.TestProject.UsrMgmt.Services.Contracts.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Arvato.TestProject.UsrMgmt.Services/UserService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Arvato.TestProject.UsrMgmt.Services.RoomService">
        <endpoint address="" binding="wsHttpBinding" contract="Arvato.TestProject.UsrMgmt.Services.Contracts.IRoomService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Arvato.TestProject.UsrMgmt.Services/RoomService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Arvato.TestProject.UsrMgmt.Services.AssetService">
        <endpoint address="" binding="wsHttpBinding" contract="Arvato.TestProject.UsrMgmt.Services.Contracts.IAssetService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Arvato.TestProject.UsrMgmt.Services/AssetService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Arvato.TestProject.UsrMgmt.Services.LDAPService">
        <endpoint address="" binding="wsHttpBinding" contract="Arvato.TestProject.UsrMgmt.Services.Contracts.ILDAPService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Arvato.TestProject.UsrMgmt.Services/LDAPService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source     name="System.ServiceModel"
                  switchValue="Information, ActivityTracing"
                  propagateActivity="true">
        <listeners>
          <add    name="traceListener"
                  type="System.Diagnostics.XmlWriterTraceListener"
                  initializeData="C:\Users\tanj009\Documents\GitHub\Arvato.TestProject.UserManagement\Arvato.TestProject.UsrMgmt.Services\bin\Debug\wcf.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
