<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="usrMgmtConnString" connectionString="Data Source=.;Initial Catalog=UserManagement;Integrated Security=True" />
    <add name="UserManagementConnectionString" connectionString="Data Source=.;Initial Catalog=UserManagement;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>