<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="usrMgmtConnString" connectionString="Data Source=.;Initial Catalog=UserManagement;Integrated Security=True" />
    <add name="UserManagementConnectionString" connectionString="Data Source=.;Initial Catalog=UserManagement;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBookingService" />
        <binding name="WSHttpBinding_IUserService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/Arvato.TestProject.UsrMgmt.Services/BookingService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBookingService"
        contract="Services.Booking.IBookingService" name="WSHttpBinding_IBookingService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/Arvato.TestProject.UsrMgmt.Services/UserService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserService"
        contract="Services.User.IUserService" name="WSHttpBinding_IUserService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>