USE [master]
GO
/****** Object:  Database [UserManagement]    Script Date: 14/5/2014 4:06:35 PM ******/
CREATE DATABASE [UserManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UserManagement.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UserManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UserManagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserManagement]
GO
/****** Object:  StoredProcedure [dbo].[USP_USER_LOGIN]    Script Date: 14/5/2014 4:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_USER_LOGIN]
(
@LoginID nvarchar(50),
@Password nvarchar(50)
)
AS BEGIN

DECLARE @ID as tinyint;
DECLARE @LastName as Nvarchar(50);

SET @ID = 0;

SELECT @ID=ID, @LastName = LastName FROM [User] WHERE @LoginID = LoginID AND @Password = [Password];

SELECT @ID AS ID, @LastName AS LastName

END
GO
/****** Object:  StoredProcedure [dbo].[USP_USER_REGISTER]    Script Date: 14/5/2014 4:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_USER_REGISTER]
(
@FirstName nvarchar(50),
@LastName nvarchar(50),
@Email nvarchar(50),
@LoginID nvarchar(50),
@Password nvarchar(50)
)
AS BEGIN

INSERT INTO [User](FirstName,LastName,Email,LoginID,[Password]) VALUES (@FirstName,@LastName,@Email,@LoginID,@Password)

RETURN @@ROWCOUNT
END
GO
/****** Object:  StoredProcedure [dbo].[USP_USER_SELECTDETAILS]    Script Date: 14/5/2014 4:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_USER_SELECTDETAILS]

AS BEGIN

SELECT * FROM [User]

END
GO
/****** Object:  Table [dbo].[User]    Script Date: 14/5/2014 4:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[LoginID] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_User] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
